
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
  background-color: #f1f5f9;
}

@media print {
  @page {
    size: A4 landscape;
    margin: 5mm;
  }
  body {
    background-color: white;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    margin: 0;
    padding: 0;
  }
  .no-print {
    display: none !important;
  }
  .print-only {
    display: block !important;
  }
  .page-break {
    page-break-after: always;
  }
}

.print-only {
  display: none;
}
